.paginate-items{
  max-width: 1200px;
  margin: auto;
}
.paginate{
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
}
.paginate .previous{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='%23000000' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Ccircle cx='128' cy='128' r='96' fill='none' stroke='%23000000' stroke-miterlimit='10' stroke-width='16'%3E%3C/circle%3E%3Cpolyline points='134.1 161.9 168 128 134.1 94.1' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'%3E%3C/polyline%3E%3Cline x1='88' y1='128' x2='168' y2='128' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'%3E%3C/line%3E%3C/svg%3E");  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
  height: 35px;
  width: 35px;
}
.paginate .next{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='%23000000' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Ccircle cx='128' cy='128' r='96' fill='none' stroke='%23000000' stroke-miterlimit='10' stroke-width='16'%3E%3C/circle%3E%3Cpolyline points='134.1 161.9 168 128 134.1 94.1' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'%3E%3C/polyline%3E%3Cline x1='88' y1='128' x2='168' y2='128' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'%3E%3C/line%3E%3C/svg%3E");  background-repeat: no-repeat;
  background-position: center;
  height: 35px;
  width: 35px;
}

.paginate a{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid black;
}
.paginate .previous a,
.paginate .next a,
.paginate .break a{
  border: 0;
}
.paginate .selected a{
  background-color: #000;
  color: white;
}
ol li{
  list-style: decimal;
  border-bottom: 1px solid grey;
  padding: 5px 0;
}