.container{
  max-width: 1280px;
  margin: 0 auto;
}
.border{
  border-bottom: 2px solid #006f91;
}
.h1{
  font-size: 32px;
  font-weight: 700;
  color: #006f91;
}
.p{
  font-size: 16px;
  color: #777;
  font-weight: 500;
}