/*===========================================================
header CSS
=============================================================*/
/* header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
} */

.navigation {
  background-color: var(--white);
  box-shadow: 8px 8px 16px rgba(112, 128, 176, 0.08);
  width: 100%;
  padding: 20px 0;
}

.navigation .nav-toggler,
.navigation .mobile-header {
  display: none;
}

.navigation .mobile-header button {
  height: 24px;
  width: 24px;
  background-color: #EFEFEF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-text);
}

.navigation .navbar-brand {
  padding: 0;
  margin: 0;
  display: block;
}

.navigation .nav-bar {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  padding: 0;
}

.navigation .nav-item {
  position: relative;
}

.navigation .nav-item .nav-link {
  padding: 10px;
  font-size: 16px;
  color: var(--primary-text);
  position: relative;
}

.navigation .nav-item .nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 10px;
  height: 4px;
  width: 0%;
  background-color: var(--primary);
  border-radius: 4px;
  transition: all 0.3s;
}

.navigation .nav-item .nav-link.active::before,
.navigation .nav-item .nav-link:hover::before {
  width: calc(100% - 20px);
}


.navigation .nav-item .nav-link.active {
  color: #3B2D60;
  font-weight: 600;
}

.navigation .dropdown-submenu {
  position: absolute;
  top: 100%;
  min-width: 195px;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 0px 37px rgba(34, 34, 51, 0.08);
  margin-top: 40px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s linear;
  max-height: 250px;
  overflow-y: auto;
}

.navigation .nav-item:hover .dropdown-submenu {
  margin-top: 0;
  opacity: 1;
  visibility: visible;
}

/* .navigation .nav-link.submenu::after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 600;
  padding-left: 10px;
  color: var(--primary-text);
  border: 0;
  vertical-align: middle;
} */

.navigation .dropdown-item {
  font-size: 16px;
  color: #5C727D;
  padding: 9px 16px;
}

.navigation .dropdown-item.active,
.navigation .dropdown-item:hover {
  background-color: rgba(22, 163, 173, 0.1);
  color: var(--primary);
}



@media (min-width:992px) and (max-width:1199px) {
  .navigation .nav-bar {
    justify-content: flex-end;
  }
}

@media (min-width:768px) and (max-width:991px) {

  .navigation .nav-item .nav-link,
  .navigation .dropdown-item {
    font-size: 14px;
  }

  .navigation .nav-bar {
    gap: 16px;
    justify-content: flex-end;
  }
}

@media screen and (max-width:767px) {
  .navigation {
    padding: 10px 0;
  }

  .navigation .nav-toggler {
    display: block;
  }

  .navigation .main-nav {
    position: fixed;
    top: 0;
    right: 100%;
    height: 100%;
    width: 100%;
    background-color: var(--white);
    box-shadow: 0px 0px 16px rgba(106, 106, 106, 0.12);
    padding: 24px;
    transition: all 0.7s ease-in-out;
    z-index: 99;
  }

  .navigation .main-nav.show-nav {
    right: 0;
  }



  .navigation .mobile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
  }

  .navigation .nav-bar {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: calc(100vh - 84px);
    overflow-y: auto;
    gap: 16px;
  }

  .navigation .dropdown-submenu {
    position: static;
    margin-top: 16px;
    opacity: 1;
    visibility: visible;
    margin-left: 16px;
    box-shadow: none;
    border-radius: 0;
    border-left: 1px solid #AAACB3;
  }

  .navigation .nav-item:hover .dropdown-submenu {
    margin-top: 16px;
  }

  .navigation .dropdown-item {
    font-size: 14px;
    padding: 8px 12px;
    color: var(--primary-text);
  }

  .navigation .dropdown-item.active,
  .navigation .dropdown-item:hover {
    background-color: transparent;
  }

  .navigation .nav-item .nav-link {
    padding: 0;
    font-size: 14px;
  }

  .navigation .nav-link.submenu::after,
  .navigation .nav-item .nav-link::before {
    display: none;
  }

  .navigation .nav-item .nav-link:hover,
  .navigation .nav-item .nav-link.active {
    color: var(--primary);
    font-weight: 400;
  }

}

@media screen and (max-width:575px) {
  .navigation .navbar-brand {
    width: 150px;
  }
}